<!-- Template logic -->

<div class="">
  <ul>
    <!-- <li *ngFor='let goal of goals'>{{goal.id}}.- {{goal.name}}</li> -->

    <!-- Input Property binding -->
    <!-- <div *ngFor='let goal of goals'>
      <li>{{goal.name}}</li>
      <app-goal-details [goal]='goal'></app-goal-details>
    </div> -->

    <!-- Output Property binding -->
    <!-- <div *ngFor='let goal of goals;let i = index'>
      <li>{{goal.name}}</li>
      <button (click)='toogleDetails(i)'>Toogle Details</button>

      <app-goal-details *ngIf="goal.showDescription" [goal]='goal'></app-goal-details>
    </div> -->

    <!-- Emitting Events -->
    <!-- <div *ngFor='let goal of goals;let i = index'>
      <li>{{goal.name}}</li>
      <button (click)='toogleDetails(i)'>Toogle Details</button>

      <app-goal-details *ngIf="goal.showDescription" [goal]='goal' (isComplete)='completeGoal($event,i)'></app-goal-details>
    </div>
  </ul> -->
    <!-- create *ngIf directive that adds some conditional logic to our templates. -->
    <!-- <p *ngIf='goals.length > 5'>You have too many goals</p> -->


    <!-- Custom Directive -->

    <!-- <div *ngFor='let goal of goals;let i = index'>
      <li id="{{i}}" appStrikethrough>{{goal.name}}</li>
      <button (click)='toogleDetails(i)'>Toogle Details</button>

      <app-goal-details *ngIf="goal.showDescription" [goal]='goal' (isComplete)='completeGoal($event,i)'></app-goal-details>

    </div> -->

    <!-- Pipes: display the dates when we list out our goals -->
    <div *ngFor='let goal of goals;let i = index'>
      <!-- <li  id="{{i}}" appStrikethrough>{{goal.name}} due on {{goal.completeDate|date}}</li> -->
      <!-- add another pipe uppercase this will transform our date to uppercase -->
      <li id="{{i}}" appStrikethrough>{{goal.name}}. Due on {{goal.completeDate|date|uppercase}}</li>
      <button (click)='toogleDetails(i)'>Toogle Details</button>

      <!-- <app-goal-details *ngIf="goal.showDescription" [goal]='goal' (isComplete)='completeGoal($event,i)'></app-goal-details> -->
      <app-goal-details *ngIf="goal.showDescription" [goal]='goal' (isComplete)='deleteGoal($event,i)'></app-goal-details>
    </div>

  </ul>
  <p *ngIf='goals.length > 5'>You have too many goals</p>
</div>